In [11]:
import pyranges as pr
import pandas as pd
import sys

keep_columns = [
    'gene_id', 
    'gene_version', 
    'gene_name', 
    'gene_source',
    'gene_biotype', 
    'Chromosome',
    'Start',
    'End',
]

fpath = "/scratch/indikar_root/indikar1/shared_data/scpore_c/gtf/GRCm39.gtf.gz"
df = pr.read_gtf(fpath).as_df()

df = df[df['Feature'] == 'gene']
df = df[keep_columns]
df = df.drop_duplicates()
print(df.shape)

df.head()

/home/cstansbu/miniconda3/envs/bioinf/lib/python3.10/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

(57180, 8)

,gene_id,gene_version,gene_name,gene_source,gene_biotype,Chromosome,Start,End
0,ENSMUSG00000104478,2,Gm38212,havana,TEC,1,108344806,108347562
3,ENSMUSG00000104385,2,Gm7449,havana,processed_pseudogene,1,6980783,6981446
6,ENSMUSG00000102135,2,Gm37108,havana,processed_pseudogene,1,6986782,6993812
10,ENSMUSG00000103282,2,Gm37275,havana,processed_pseudogene,1,6999982,7000012
13,ENSMUSG00000101097,2,Gm6679,havana,processed_pseudogene,1,108697864,108699733

In [20]:
fpath = "/scratch/indikar_root/indikar1/shared_data/higher_order/reference/gene_table.parquet"
df = pd.read_parquet(fpath)
print(df.shape)
print(df['is_tf'].sum())
df.head()

(56655, 11)
1076

,gene_id,gene_version,gene_name,gene_source,gene_biotype,Chromosome,Start,End,length,midpoint,is_tf
0,ENSMUSG00000104478,2,Gm38212,havana,TEC,1,108344806,108347562,2756,108346184,False
1,ENSMUSG00000104385,2,Gm7449,havana,processed_pseudogene,1,6980783,6981446,663,6981114,False
2,ENSMUSG00000102135,2,Gm37108,havana,processed_pseudogene,1,6986782,6993812,7030,6990297,False
3,ENSMUSG00000103282,2,Gm37275,havana,processed_pseudogene,1,6999982,7000012,30,6999997,False
4,ENSMUSG00000101097,2,Gm6679,havana,processed_pseudogene,1,108697864,108699733,1869,108698798,False

In [23]:
df[df['is_tf']]['Chromosome'].value_counts()

Chromosome
2             106
7              80
11             78
1              70
4              67
5              62
10             61
6              60
8              56
9              48
15             47
12             46
3              45
13             41
17             40
19             39
14             36
X              35
16             29
18             29
Y               1
GL456210.1      0
GL456212.1      0
GL456211.1      0
GL456219.1      0
GL456221.1      0
GL456372.1      0
GL456381.1      0
GL456239.1      0
GL456354.1      0
JH584296.1      0
GL456385.1      0
JH584297.1      0
JH584298.1      0
JH584303.1      0
JH584299.1      0
MT              0
JH584304.1      0
Name: count, dtype: int64

In [17]:
scenic_path = "/nfs/turbo/umms-indikar/shared/projects/DGC/data/processed_data/MOUSE_500bp_up_100bp_down_B.csv"

df = pd.read_csv(scenic_path)
df = df.rename(columns={'Unnamed: 0' : 'gene_name'})
df = df.set_index('gene_name')
df.head()

,ABL1,ACAA1,ADNP,ADNP2,AEBP2,AFF4,AHCTF1,AHDC1,AHR,AHRR,...,ZSCAN32,ZSCAN4,ZSCAN5A,ZSCAN5B,ZSCAN5C,ZSCAN9,ZXDA,ZXDB,ZXDC,ZZZ3
gene_name,,,,,,,,,,,,,,,,,,,,,
0610005C13Rik,0.00,0.0,4.300,0.000,0.0,5.25,4.37,0.018250,1.2576,0.0,...,0.0,0.0,0.0,0.0,0.538,0.0,0.0,0.0,0.0,0.0326
0610007P14Rik,6.56,0.0,0.685,0.841,0.0,2.55,1.54,0.449875,1.0866,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.4870
0610009B22Rik,1.18,0.0,0.721,0.000,0.0,1.13,1.44,0.282500,1.4038,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,1.8900
0610009L18Rik,0.00,0.0,0.000,0.414,0.0,1.24,1.43,1.109500,2.3160,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0000
0610009O20Rik,2.10,0.0,0.147,0.000,0.0,5.12,1.75,0.471513,0.1480,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.2870