In [1]:
import pandas as pd
import numpy as np
import os 
import sys
import glob

In [2]:
fpath = "/scratch/indikar_root/indikar1/shared_data/adapter_clean_up/reports/porechop_summary_aggregated.csv"

df = pd.read_csv(fpath)
df.head()

,total_reads,start_reads_trimmed,start_bp_trimmed,end_reads_trimmed,end_bp_trimmed,middle_reads_split,sample,cell
0,16000,15995,1849179,15934,1455635,2350,o2,b18
1,76608,76447,9058848,72620,5412440,43718,o3,b29
2,132238,131808,15408140,130512,11831657,15224,o3,b08
3,30757,30688,3630436,29580,2273752,12964,o3,b14
4,233049,232437,27230332,230220,20396892,25595,o4,b84

In [9]:
df['percent_adapater_start'] = df['start_reads_trimmed'] / df['total_reads']
df['percent_adapater_end'] = df['end_reads_trimmed'] / df['total_reads']


gx = df.groupby('sample').agg(
    total_reads = ('total_reads', 'sum'),
    mean_start = ('percent_adapater_start', 'mean'),
    mean_end = ('percent_adapater_end', 'mean'),
) * 100


gx = gx.reset_index()
print(gx.round(2).astype(str).to_latex(index=False))

\begin{tabular}{llll}
\toprule
sample & total_reads & mean_start & mean_end \\
\midrule
o1 & 2548899000 & 99.45 & 98.04 \\
o2 & 725600000 & 99.93 & 98.96 \\
o3 & 3287889900 & 99.76 & 97.09 \\
o4 & 1500021600 & 99.78 & 98.03 \\
\bottomrule
\end{tabular}